<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="form-group">
          <label for="username">Kullanıcı Adı</label>
          <input #txtUsernameOrEmail type="text" class="form-control" id="username" placeholder="Kullanıcı Ad Veya Email">
          <!-- <small class="form-text text-muted invalid-feedback">Lütfen kullanıcı adını düzgün giriniz.</small> -->
        </div>
        <br>
        <div class="form-group">
          <label for="password">Şifre</label>
          <input #txtPassword type="password" class="form-control" id="password" placeholder="Şifre">
        </div>
        <br />
         <asl-google-signin-button></asl-google-signin-button>
         <button class="btn btn-info" (click)="facebookLogin()">Facebook login</button>
        <br />
        <button style="margin-top: 5px;" type="submit" (click)="login(txtUsernameOrEmail.value, txtPassword.value)" class="btn btn-primary">Giriş Yap</button>  
        <a routerLink="/password-reset" style="margin-top: 5px; margin-left: 5px;" class="btn btn-secondary">Şifremi Unuttum</a>
    </div>
    <div class="col-md-3"></div>
  </div>